name: CI-CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Vérifier que la page existe
        run: test -f index.nginx-debian.html

      - name: Vérifier la configuration Docker Compose
        run: docker compose config

  build_push_image:
    needs: check
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            a6du/devopslxp:${{ github.sha }}
            a6du/devopslxp:latest

  deploy_vm:
    needs: build_push_image
    if: github.ref == 'refs/heads/main'
    runs-on: self-hosted

    steps:
      - name: Pull & run container from Docker Hub
        shell: bash
        run: |
          set -e
          IMAGE="a6du/devopslxp:${{ github.sha }}"

          docker pull "$IMAGE"
          docker stop devopslxp-web || true
          docker rm devopslxp-web || true

          docker run -d \
            --name devopslxp-web \
            -p 8080:80 \
            --restart unless-stopped \
            "$IMAGE"

          docker ps | grep devopslxp-web
