name: CI-CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Vérifier que la page existe
        run: test -f index.nginx-debian.html

      - name: Vérifier la configuration Docker Compose
        run: docker compose config

  build_push_image:
    needs: check
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            a6du/devopslxp:${{ github.sha }}
            a6du/devopslxp:latest

  deploy_vm:
    needs: build_push_image
    if: github.ref == 'refs/heads/main'
    runs-on: self-hosted

    steps:
      # IMPORTANT : tout ce qui touche au dépôt local est ici
      - name: Marquer le dépôt comme safe et fixer les droits
        shell: bash
        run: |
          REPO=/home/enzo/LxpProject/DevopsLXPproject

          # Dire à Git que ce dépôt est sûr pour cet utilisateur
          git config --global --add safe.directory "$REPO"

          # S'assurer que le runner possède le dépôt (corrige FETCH_HEAD)
          sudo chown -R "$(whoami)":"$(whoami)" "$REPO"    # [web:214]

      - name: Déployer avec Docker Compose
        shell: bash
        run: |
          set -e
          cd /home/enzo/LxpProject/DevopsLXPproject

          # Mettre le code à jour (maintenant les droits sont ok)
          git pull origin main

          # Déployer la nouvelle image
          docker compose pull
          docker compose down
          docker compose up -d

          docker compose ps
